<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Taco Cloud</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<form method="POST" th:action="@{/orders}" th:object="${order}">
  <h1>創建你的玉米餅訂單!</h1>

  <img th:src="@{/images/TacoCloud.png}"/>
  <a th:href="@{/design}" id="another">重新選擇你的玉米餅</a><br/>

  <div th:if="${#fields.hasErrors()}">
    <span class="validationError">
     請更正以下問題，然後重新提交。
    </span>
  </div>

  <h3>請填選玉米餅收貨人資訊</h3>
  <label for="deliveryName">名稱 :</label>
  <input type="text" th:field="*{deliveryName}">
  <span class="validationError" th:if="${#fields.hasErrors('deliveryName')}"
        th:errors="*{deliveryName}"></span>
  <br/>
  <label for="deliveryStreet">街道 :</label>
  <input type="text" th:field="*{deliveryStreet}">
  <span class="validationError" th:if="${#fields.hasErrors('deliveryStreet')}"
        th:errors="*{deliveryStreet}"></span>
  <br/>
  <label for="deliveryCity">城市 :</label>
  <input type="text" th:field="*{deliveryCity}">
  <span class="validationError" th:if="${#fields.hasErrors('deliveryCity')}"
        th:errors="*{deliveryCity}"></span>
  <br/>
  <label for="deliveryState">州 :</label>
  <input type="text" th:field="*{deliveryState}">
  <span class="validationError" th:if="${#fields.hasErrors('deliveryState')}"
        th:errors="*{deliveryState}"></span>
  <br/>
  <label for="deliveryZip">郵遞區號 :</label>
  <input type="text" th:field="*{deliveryZip}">
  <span class="validationError" th:if="${#fields.hasErrors('deliveryZip')}"
        th:errors="*{deliveryZip}"></span>
  <br/>

  <h3>請填寫你的付款資訊</h3>
  <label for="ccNumber">信用卡帳號 :</label>
  <input type="text" th:field="*{ccNumber}">
  <span class="validationError" th:if="${#fields.hasErrors('ccNumber')}"
        th:errors="*{ccNumber}"></span>
  <br/>
  <label for="ccExpiration">信用卡日期 :</label>
  <input type="text" th:field="*{ccExpiration}">
  <span class="validationError" th:if="${#fields.hasErrors('ccExpiration')}"
        th:errors="*{ccExpiration}"></span>
  <br/>
  <label for="ccCVV">信用卡驗證碼 :</label>
  <input type="text" th:field="*{ccCVV}">
  <span class="validationError" th:if="${#fields.hasErrors('ccCVV')}"
        th:errors="*{ccCVV}"></span>
  <br/>

  <input type="submit" value="確認訂單"/>

</form>
</body>
</html>